<p id="notice"><%= notice %></p>

<% post = @post %>

<%= render 'onepost', :post => post %>

<% postid = "post-#{post.id}" %>

<div id="<%= postid %>">
    <a href="#" class="comment_link"><h6>Comments (<span class="comment_count"><%= post.comments.count %></span>)</h6></a>
    <div class="comment_container" style="display: none;">
      <div class="comment_wrap"><%= render @post.comments %></div>

    <h6>Add a comment:</h6>
    <%= render "comments/form", :post => post %>
    </div>
</div>
<br/>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %> |

<script>
    function IsNotBlank(field) {
        if ($(field).val() == "") {
            return false;
        } else if ($(field).val() != "") {
            return true;
        }
    }

    var post_div;

    function IsNotBlank(field) {
        if ($(field).val() == "") {
            return false;
        } else if ($(field).val() != "") {
            return true;
        }
    }

    $('.comment_link').click(function(event){
        event.preventDefault();
        var post_div = '#' + $(this).parent().attr("id") + ' ';
        $(post_div + '.comment_container').slideToggle(600);
        $(".comment_submit").on("click", function(event){
            event.preventDefault();
            var post_subdiv = '#' + $(this).parent().parent().parent().parent().parent().attr("id") + ' ';
            $(post_subdiv +".errors_2").fadeOut(400, function(){
                if (!IsNotBlank(post_subdiv +".comment_commenter")) {
                    $(post_subdiv +".errors_2").html("Name can not be blank.");
                }
                else if (!IsNotBlank(post_subdiv +".comment_body")){
                    $(post_subdiv +".errors_2").html("Comment can not be blank.");
                }
                else {
                    $(post_subdiv +".errors_2").html("");
                    $(post_subdiv +".comment_form").submit(function(){
                        $(this).on("ajax:complete", function(){
                            $(post_subdiv +".comment_body").val("");
                            $(post_subdiv +".comment_commenter").val("");
                        });
                    });
                    $(post_subdiv +".comment_form").submit();
                }
            });
            $(post_subdiv +".errors_2").fadeIn(400);
        });
    });

</script>