		<div class="container-fluid" id="navigation">
            <%= link_to "C&Oslash;NTEXT".html_safe, root_path, id: "logo" %>
			<nav id="menu">
				<ul class="nav nav-pills">
					<!--<li><%= link_to "Home", home_path %></li>-->
					<!--<li><%= link_to "Music", music_path %></li>-->
					<li><%= link_to "News", news_path %></li>
					<li><%= link_to "About", about_path %></li>
					<li><%= link_to "Contact", contact_path %></li>
                    <li>
                      <div id="links">
                        <a href="http://soundcloud.com/contextbeats" target="_blank"><%= image_tag "sc-blue.png" %></a>
                        <a href="http://www.facebook.com/contextbeats" target="_blank"><%= image_tag "fb-blue.png" %></a>
                        <a href="http://www.youtube.com/contextbeats" target="_blank"><%= image_tag "yt-blue.png" %></a>
                      </div>
                    </li>
				</ul>
			</nav>
		</div>
        <div id="music" class="container">
        <a href="http://soundcloud.com/contextbeats/sets/beats" class="sc-player"></a>
        </div>