<!DOCTYPE html>
<html>
<head>
  <title>C&Oslash;NTEXT</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body>
	<div id="container">
    <%= render 'layouts/header' %>
	    <div class="container" id="content">
		    <%= yield %>
	    </div>
    <div class="push"></div>
    </div>
    <%= render 'layouts/footer' %>

</body>
</html>
