!!! 5
%html
  %head
    %title C&Oslash;NTEXT
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag
    /[if IE]
      %script
        alert('Unfortunately this site is not compatible with your current browser. Please use a different one and try again');
  %body
    #container
      = render 'layouts/header'
      .container#content= yield
      .push
    = render 'layouts/footer'